@model WebShopBanHang.Models.Role

@{
    ViewData["Title"] = ">Xem tài khoản truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<OrderDetail> orderDetails = ViewBag.ChiTiet;
}
<div class="header-sub-title">
    <nav class="breadcrumb breadcrumb-dash">
        <a class="breadcrumb-item" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="anticon anticon-home m-r-5"></i>Trang Chủ</a>
        <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminRoles" asp-action="Index">Danh sách quyền truy cập</a>
        <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminRoles" asp-action="Details">Xem tài khoản truy cập</a>
    </nav>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Xem tài khoản truy cập</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.RoleId</td>
                    </tr>
                    <tr>
                        <td>Tên quyền truy cập:</td>
                        <td>@Model.RoleName</td>
                    </tr>
                    <tr>
                        <td>Mô Tả</td>
                        <td>@Model.Description</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <a class="btn btn-success btn-tone m-r-5" asp-action="Index">Trở Lại</a>

    </div>
</div>