@model WebShopBanHang.Models.Role

@{
    ViewData["Title"] = "Chỉnh sửa tài khoản đăng nhập";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
<div class="header-sub-title">
    <nav class="breadcrumb breadcrumb-dash">
        <a class="breadcrumb-item" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="anticon anticon-home m-r-5"></i>Trang Chủ</a>
        <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminRoles" asp-action="Index">Danh sách quyền truy cập</a>
        <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminRoles" asp-action="Edit">Chỉnh sửa tài khoản truy cập</a>
    </nav>
</div>
</div>
<h4>Chỉnh sửa tài khoản truy cập</h4>

<form asp-action="Edit"  method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="RoleId"/>
    <div class="form-group">
        <div class="form-group col-md-6">
            <label class="formGroupExampleInput">Role Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="RoleName" placeholder="Role Name">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="formGroupExampleInput">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="Description" placeholder="Description">
            </div>
        </div>
        <div class="card-body">
            <button type="submit" class="btn btn-secondary btn-tone m-r-5">Lưu</button>
            <a class="btn btn-success btn-tone m-r-5" asp-action="Index">Trở Lại</a>
        </div>
    </div>
</form>

